.conteinerAgendamento
{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.listaAgenda
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5vw;
}